@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.4;
}
:root {
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);
  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);
  --btn-font: #fff;
}

header {
  height: 200px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 20px;
}
.logo > img {
  display: block;
  margin: 0 auto;
  height: 80px;
}
.history-content {
  padding: 10px 18px;
  text-align: center;
}
.download-button {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
.history-content h1 {
  font-weight: 600;
  font-size: 32px;
  color: var(--Gray-700);
  margin-bottom: 0.5rem;
}
.history-content p {
  font-size: 17.5px;
  font-weight: 400;
  color: var(--Gray-500);
  margin-bottom: 2rem;
}

.ios-btn {
  background-color: var(--Green-500);
}
.mac-btn {
  background-color: var(--Blue-100);
}
.ios-btn,
.mac-btn {
  padding: 14px 70px;
  outline: 0;
  border: 0;
  border-radius: 24px;
  color: var(--btn-font);
  cursor: pointer;
  font-size: 18px;
  max-width: 100%;
}

@media screen and (min-width: 650px) {
  header {
    height: 220px;
    background-image: url(/images/bg-header-desktop.png);
    padding: 120px 20px;
  }
  .logo > img {
    height: 90px;
  }
  .history-content {
    padding: 20px 40px;
    text-align: center;
  }
  .download-button {
    flex-direction: row;
  }
  .ios-btn {
    background-color: var(--Green-500);
  }
  .mac-btn {
    background-color: var(--Blue-100);
  }

  .ios-btn,
  .mac-btn {
    padding: 14px 60px;
    border-radius: 30px;
  }
  .history-content h1 {
    font-weight: 600;
    font-size: 55px;
    color: var(--Gray-700);
  }
  .history-content p {
    margin-top: 0.5rem;
    font-size: 35px;
    font-weight: 400;
    color: var(--Gray-500);
  }
  /* .track-heading {
    padding: 60px 80px;
    text-align: center;
  }
  .track-heading h2 {
    font-size: 45px;
    font-weight: 600;
    color: var(--Gray-700);
    margin-bottom: 0.3rem;
  }
  .track-heading p {
    font-size: 31px;
    color: var(--Gray-500);
    font-weight: 400;
  }
  .track-inner-content {
    display: flex;
    gap: 5rem;
    align-items: center;

    padding: 25px 170px 25px 0px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
  .image > img {
    width: 670px;
  }
  .content h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--Gray-700);
  }
  .content p {
    font-size: 20px;
    color: var(--Gray-500);
    font-weight: 400;
  } */
}
