@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.4;
}
:root {
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);
  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);
  --btn-font: #fff;
}

header {
  height: 200px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 20px;
}

.logo > img {
  display: block;
  margin: 0 auto;
  height: 80px;
}
.history-content {
  padding: 10px 18px;
  text-align: center;
}
.download-button {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
.history-content h1 {
  font-weight: 600;
  font-size: 32px;
  color: var(--Gray-700);
  margin-bottom: 0.5rem;
}
.history-content p {
  font-size: 17.5px;
  font-weight: 400;
  color: var(--Gray-500);
  margin-bottom: 2rem;
}

.ios-btn {
  background-color: var(--Green-500);
}
.mac-btn {
  background-color: var(--Blue-100);
}
.ios-btn,
.mac-btn {
  padding: 14px 50px;
  outline: 0;
  border: 0;
  border-radius: 25px;
  color: var(--btn-font);
  cursor: pointer;
  font-size: 18px;
  max-width: 100%;
}
.track-heading {
  padding: 50px 18px;
  text-align: center;
}
.track-heading h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--Gray-700);
  margin-bottom: 1rem;
}
.track-heading p {
  font-size: 19px;
  color: var(--Gray-500);
  font-weight: 400;
}
.image > img {
  width: 100%;
  max-width: 300px;
}
.track-inner-content {
  display: flex;
  flex-direction: column;
  padding: 40px 18px;
  align-items: center;
  gap: 2rem;
}
.content {
  text-align: center;
}
.content > div {
  margin-top: 1.5rem;
}
.content h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--Gray-700);
}
.content p {
  font-size: 20px;
  color: var(--Gray-500);
  font-weight: 400;
}
.section-one {
  padding: 70px 18px;
}
.section-one-heading {
  text-align: center;
}
.section-one-heading h4 {
  font-size: 34px;
  color: var(--Gray-700);
  font-weight: 600;
}
.section-one-heading p {
  font-size: 18px;
  color: var(--Gray-500);
  font-weight: 400;
  line-height: 1.8;
}

.section-one-image {
  display: flex;
  justify-content: center;
}
.section-one-image > img {
  width: 100%;
  max-width: 320px;
  margin-top: 3rem;
}
.section-two {
  padding: 20px 18px;
  text-align: center;
}
.section-two-heading {
  margin-bottom: 4rem;
}
.section-two-heading h5 {
  font-size: 34px;
  color: var(--Gray-700);
  font-weight: 600;
}
.section-two-heading p {
  font-size: 18px;
  color: var(--Gray-500);
  font-weight: 400;
  line-height: 1.6;
}
.section-two-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-two-content img {
  height: 40px;
  margin-bottom: 1.5rem;
}
.section-two-content h6 {
  font-size: 35px;
  color: var(--Gray-700);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.section-two-content span {
  font-size: 16.9px;
  color: var(--Gray-500);
  font-weight: 400;
  line-height: 1.8;
}
.icon-section {
  padding: 50px 18px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.icon-section img {
  height: 45px;
}

@media screen and (min-width: 650px) {
  header {
    height: 220px;
    background-image: url(/images/bg-header-desktop.png);
    padding: 120px 20px;
  }
  .logo > img {
    height: 90px;
  }
  .history-content {
    padding: 20px 100px;
    text-align: center;
  }
  .download-button {
    flex-direction: row;
  }
  .ios-btn {
    background-color: var(--Green-500);
  }
  .mac-btn {
    background-color: var(--Blue-100);
  }

  .ios-btn,
  .mac-btn {
    padding: 14px 60px;
    border-radius: 30px;
  }
  .history-content h1 {
    font-weight: 600;
    font-size: 42px;
    color: var(--Gray-700);
  }
  .history-content p {
    margin-top: 0.5rem;
    font-size: 32px;
    font-weight: 400;
    color: var(--Gray-500);
  }
  .track-heading {
    padding: 60px 150px;
    text-align: center;
  }
  .track-heading h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--Gray-700);
    margin-bottom: 1rem;
  }
  .track-heading p {
    font-size: 28px;
    color: var(--Gray-500);
    font-weight: 400;
  }
  .track-inner-content {
    display: flex;
    flex-direction: row;
    padding: 40px 170px 40px 0px;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
  .image > img {
    max-width: 650px;
  }

  .image {
    flex: 1.2;
  }
  .content {
    flex: 1;
    text-align: left;
  }

  .content > div {
    margin-top: 0.2rem;
  }
  .content h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--Gray-700);
  }
  .content p {
    font-size: 23px;
    color: var(--Gray-500);
    font-weight: 400;
  }
  .section-one {
    padding: 40px 170px;
  }

  .section-one-heading h4 {
    font-size: 40px;
    color: var(--Gray-700);
    font-weight: 600;
  }
  .section-one-heading p {
    font-size: 25px;
    color: var(--Gray-500);
    font-weight: 400;
    line-height: 1.8;
  }

  .section-one-image {
    display: flex;
    justify-content: center;
  }
  .section-one-image > img {
    width: 100%;
    max-width: 700px;
    margin-top: 5rem;
  }
  .section-two {
    padding: 5px 120px;
  }

  .section-two-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-two-content > div {
    flex: 1;
    text-align: center;
  }

  .section-two-heading {
    margin-bottom: 4rem;
  }
  .section-two-heading h5 {
    font-size: 40px;
  }
  .section-two-heading p {
    font-size: 20px;
  }

  .section-two-content img {
    height: 35px;
    margin-bottom: 1.5rem;
  }
  .section-two-content h6 {
    font-size: 29px;
    margin-bottom: 1.2rem;
  }
  .section-two-content span {
    font-size: 16px;
    color: var(--Gray-500);
    font-weight: 400;
    line-height: 1.4;
  }
  .icon-section {
    padding: 80px 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .icon-section img {
    height: 40px;
  }
}
